.section-gallery {

  .gallery-images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .image-item {
    margin: 5px;
  }

  .image-content {
    width: 200px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}